In [1]:
import pandas as pd
import numpy as np
from smart.model import NNModelBalle
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.model_selection import train_test_split
import tensorflow as tf
from keras import layers
from keras import models
from keras import optimizers
from keras import losses
from keras import metrics
from keras import regularizers

In [2]:
df = pd.read_csv('dataset/datasetTrajectoire - Copy.csv')
df

,col1_1,col1_2,col2_1,col2_2,col3_1,col3_2,col4_1,col4_2,col5_1,col5_2,...,col41_2,col42_1,col42_2,col43_1,col43_2,col44_1,col44_2,col45_1,col45_2,label
0,210,316,217,285,232,281,230,295,246,264,...,133,497,103,519,110,514,96,526,67,1
1,211,292,239,305,222,290,228,273,247,276,...,110,486,110,520,111,528,80,510,80,1
2,213,318,235,300,247,307,239,294,242,279,...,112,514,109,524,84,502,84,526,86,1
3,213,316,215,304,225,286,229,293,248,283,...,127,501,106,505,105,513,93,534,86,1
4,213,318,242,301,226,304,237,302,239,280,...,110,499,102,516,95,525,74,535,90,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3563,558,295,551,307,531,304,544,272,524,256,...,59,414,58,415,47,426,30,416,39,12
3564,558,307,552,305,554,306,544,286,539,259,...,74,410,40,414,46,421,43,416,31,12
3565,558,310,542,289,530,290,532,282,520,279,...,74,418,55,418,47,417,43,405,29,12
3566,559,317,529,312,536,290,527,283,535,259,...,60,423,47,412,33,412,54,408,38,12
3567,559,316,558,307,538,280,545,288,544,276,...,62,417,45,423,33,404,28,422,28,12

In [3]:
X = df.drop(['label'], axis=1).values
y = df['label'].values
y.shape

(3568,)

In [4]:
# Avant encoder y
np.unique(y)

array([ 1,  3,  4,  6,  7,  8, 10, 11, 12], dtype=int64)

In [5]:
layers = [
    tf.keras.Input(shape = 90),
    layers.Dense(units=64, activation='relu', kernel_regularizer=regularizers.l2(0.01)),
    layers.Dense(units=96, activation='relu'),
    layers.Dense(units=9, activation='softmax')
]

In [6]:
# Load the data
model = NNModelBalle.load_model_from_layers(layers)

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                5824

 dense_1 (Dense)             (None, 96)                6240

 dense_2 (Dense)             (None, 9)                 873

=================================================================
Total params: 12,937
Trainable params: 12,937
Non-trainable params: 0
_________________________________________________________________

In [7]:
# Normalize the data
scaler = StandardScaler()
encoder = LabelEncoder()

In [8]:
X = scaler.fit_transform(X)
y = encoder.fit_transform(y)
y

array([0, 0, 0, ..., 8, 8, 8], dtype=int64)

In [9]:
output_y = np.unique(y)
output_y

array([0, 1, 2, 3, 4, 5, 6, 7, 8], dtype=int64)

In [10]:
# Split the data
X_train, X_test, y_train, y_test = model.split_train_test(X, y, test_size=0.2, random_state=42)

In [11]:
# Train the model
model.train(X_train, y_train, epochs=80, learning_rate=0.0001)

Epoch 1/80
23/23 [==============================] - 1s 3ms/step - loss: 2.9643 - accuracy: 0.2106
Epoch 2/80
23/23 [==============================] - 0s 4ms/step - loss: 2.7869 - accuracy: 0.2561
Epoch 3/80
23/23 [==============================] - 0s 4ms/step - loss: 2.6419 - accuracy: 0.2971
Epoch 4/80
23/23 [==============================] - 0s 3ms/step - loss: 2.5191 - accuracy: 0.3560
Epoch 5/80
23/23 [==============================] - 0s 4ms/step - loss: 2.4124 - accuracy: 0.4467
Epoch 6/80
23/23 [==============================] - 0s 3ms/step - loss: 2.3169 - accuracy: 0.5130
Epoch 7/80
23/23 [==============================] - 0s 3ms/step - loss: 2.2287 - accuracy: 0.5459
Epoch 8/80
23/23 [==============================] - 0s 3ms/step - loss: 2.1479 - accuracy: 0.5939
Epoch 9/80
23/23 [==============================] - 0s 3ms/step - loss: 2.0723 - accuracy: 0.6324
Epoch 10/80
23/23 [==============================] - 0s 4ms/step - loss: 2.0004 - accuracy: 0.6692
Epoch 11/80
23/23 [==============================] - 0s 5ms/step - loss: 1.9321 - accuracy: 0.6889
Epoch 12/80
23/23 [==============================] - 0s 3ms/step - loss: 1.8670 - accuracy: 0.6987
Epoch 13/80
23/23 [==============================] - 0s 3ms/step - loss: 1.8045 - accuracy: 0.7165
Epoch 14/80
23/23 [==============================] - 0s 3ms/step - loss: 1.7448 - accuracy: 0.7400
Epoch 15/80
23/23 [==============================] - 0s 5ms/step - loss: 1.6869 - accuracy: 0.7586
Epoch 16/80
23/23 [==============================] - 0s 3ms/step - loss: 1.6304 - accuracy: 0.7786
Epoch 17/80
23/23 [==============================] - 0s 4ms/step - loss: 1.5758 - accuracy: 0.7950
Epoch 18/80
23/23 [==============================] - 0s 5ms/step - loss: 1.5246 - accuracy: 0.8255
Epoch 19/80
23/23 [==============================] - 0s 4ms/step - loss: 1.4751 - accuracy: 0.8406
Epoch 20/80
23/23 [==============================] - 0s 4ms/step - loss: 1.4281 - accuracy: 0.8588
Epoch 21/80
23/23 [==============================] - 0s 4ms/step - loss: 1.3837 - accuracy: 0.8742
Epoch 22/80
23/23 [==============================] - 0s 4ms/step - loss: 1.3407 - accuracy: 0.8858
Epoch 23/80
23/23 [==============================] - 0s 4ms/step - loss: 1.2993 - accuracy: 0.8900
Epoch 24/80
23/23 [==============================] - 0s 2ms/step - loss: 1.2600 - accuracy: 0.9068
Epoch 25/80
23/23 [==============================] - 0s 3ms/step - loss: 1.2224 - accuracy: 0.9222
Epoch 26/80
23/23 [==============================] - 0s 4ms/step - loss: 1.1870 - accuracy: 0.9282
Epoch 27/80
23/23 [==============================] - 0s 4ms/step - loss: 1.1537 - accuracy: 0.9345
Epoch 28/80
23/23 [==============================] - 0s 6ms/step - loss: 1.1220 - accuracy: 0.9439
Epoch 29/80
23/23 [==============================] - 0s 3ms/step - loss: 1.0922 - accuracy: 0.9481
Epoch 30/80
23/23 [==============================] - 0s 6ms/step - loss: 1.0639 - accuracy: 0.9530
Epoch 31/80
23/23 [==============================] - 0s 4ms/step - loss: 1.0368 - accuracy: 0.9548
Epoch 32/80
23/23 [==============================] - 0s 4ms/step - loss: 1.0110 - accuracy: 0.9583
Epoch 33/80
23/23 [==============================] - 0s 4ms/step - loss: 0.9862 - accuracy: 0.9625
Epoch 34/80
23/23 [==============================] - 0s 4ms/step - loss: 0.9621 - accuracy: 0.9615
Epoch 35/80
23/23 [==============================] - 0s 4ms/step - loss: 0.9395 - accuracy: 0.9646
Epoch 36/80
23/23 [==============================] - 0s 3ms/step - loss: 0.9180 - accuracy: 0.9650
Epoch 37/80
23/23 [==============================] - 0s 5ms/step - loss: 0.8973 - accuracy: 0.9671
Epoch 38/80
23/23 [==============================] - 0s 4ms/step - loss: 0.8776 - accuracy: 0.9678
Epoch 39/80
23/23 [==============================] - 0s 4ms/step - loss: 0.8589 - accuracy: 0.9695
Epoch 40/80
23/23 [==============================] - 0s 4ms/step - loss: 0.8408 - accuracy: 0.9692
Epoch 41/80
23/23 [==============================] - 0s 3ms/step - loss: 0.8242 - accuracy: 0.9688
Epoch 42/80
23/23 [==============================] - 0s 4ms/step - loss: 0.8076 - accuracy: 0.9699
Epoch 43/80
23/23 [==============================] - 0s 4ms/step - loss: 0.7915 - accuracy: 0.9741
Epoch 44/80
23/23 [==============================] - 0s 3ms/step - loss: 0.7764 - accuracy: 0.9737
Epoch 45/80
23/23 [==============================] - 0s 3ms/step - loss: 0.7619 - accuracy: 0.9737
Epoch 46/80
23/23 [==============================] - 0s 5ms/step - loss: 0.7478 - accuracy: 0.9741
Epoch 47/80
23/23 [==============================] - 0s 4ms/step - loss: 0.7341 - accuracy: 0.9737
Epoch 48/80
23/23 [==============================] - 0s 4ms/step - loss: 0.7209 - accuracy: 0.9772
Epoch 49/80
23/23 [==============================] - 0s 3ms/step - loss: 0.7080 - accuracy: 0.9769
Epoch 50/80
23/23 [==============================] - 0s 3ms/step - loss: 0.6958 - accuracy: 0.9786
Epoch 51/80
23/23 [==============================] - 0s 4ms/step - loss: 0.6840 - accuracy: 0.9800
Epoch 52/80
23/23 [==============================] - 0s 4ms/step - loss: 0.6723 - accuracy: 0.9779
Epoch 53/80
23/23 [==============================] - 0s 5ms/step - loss: 0.6611 - accuracy: 0.9800
Epoch 54/80
23/23 [==============================] - 0s 5ms/step - loss: 0.6501 - accuracy: 0.9814
Epoch 55/80
23/23 [==============================] - 0s 4ms/step - loss: 0.6394 - accuracy: 0.9846
Epoch 56/80
23/23 [==============================] - 0s 5ms/step - loss: 0.6287 - accuracy: 0.9881
Epoch 57/80
23/23 [==============================] - 0s 4ms/step - loss: 0.6188 - accuracy: 0.9884
Epoch 58/80
23/23 [==============================] - 0s 4ms/step - loss: 0.6084 - accuracy: 0.9895
Epoch 59/80
23/23 [==============================] - 0s 5ms/step - loss: 0.5991 - accuracy: 0.9842
Epoch 60/80
23/23 [==============================] - 0s 2ms/step - loss: 0.5892 - accuracy: 0.9895
Epoch 61/80
23/23 [==============================] - 0s 2ms/step - loss: 0.5798 - accuracy: 0.9923
Epoch 62/80
23/23 [==============================] - 0s 2ms/step - loss: 0.5705 - accuracy: 0.9916
Epoch 63/80
23/23 [==============================] - 0s 2ms/step - loss: 0.5616 - accuracy: 0.9926
Epoch 64/80
23/23 [==============================] - 0s 3ms/step - loss: 0.5527 - accuracy: 0.9933
Epoch 65/80
23/23 [==============================] - 0s 3ms/step - loss: 0.5437 - accuracy: 0.9940
Epoch 66/80
23/23 [==============================] - 0s 4ms/step - loss: 0.5351 - accuracy: 0.9951
Epoch 67/80
23/23 [==============================] - 0s 3ms/step - loss: 0.5267 - accuracy: 0.9954
Epoch 68/80
23/23 [==============================] - 0s 3ms/step - loss: 0.5184 - accuracy: 0.9968
Epoch 69/80
23/23 [==============================] - 0s 4ms/step - loss: 0.5101 - accuracy: 0.9975
Epoch 70/80
23/23 [==============================] - 0s 3ms/step - loss: 0.5022 - accuracy: 0.9968
Epoch 71/80
23/23 [==============================] - 0s 3ms/step - loss: 0.4943 - accuracy: 0.9972
Epoch 72/80
23/23 [==============================] - 0s 4ms/step - loss: 0.4863 - accuracy: 0.9986
Epoch 73/80
23/23 [==============================] - 0s 3ms/step - loss: 0.4787 - accuracy: 0.9986
Epoch 74/80
23/23 [==============================] - 0s 3ms/step - loss: 0.4713 - accuracy: 0.9975
Epoch 75/80
23/23 [==============================] - 0s 4ms/step - loss: 0.4640 - accuracy: 0.9975
Epoch 76/80
23/23 [==============================] - 0s 3ms/step - loss: 0.4568 - accuracy: 0.9979
Epoch 77/80
23/23 [==============================] - 0s 3ms/step - loss: 0.4494 - accuracy: 0.9989
Epoch 78/80
23/23 [==============================] - 0s 3ms/step - loss: 0.4422 - accuracy: 0.9986
Epoch 79/80
23/23 [==============================] - 0s 3ms/step - loss: 0.4352 - accuracy: 0.9996
Epoch 80/80
23/23 [==============================] - 0s 6ms/step - loss: 0.4283 - accuracy: 0.9996

In [ ]:
# Evaluate the model
model.evaluate(X_test, y_test)

# Test

In [12]:
test_df = pd.read_csv('dataset/datasetTest - Copy.csv')
test_df

,col1_1,col1_2,col2_1,col2_2,col3_1,col3_2,col4_1,col4_2,col5_1,col5_2,...,col41_2,col42_1,col42_2,col43_1,col43_2,col44_1,col44_2,col45_1,col45_2,label
0,238.5,31.5,244.5,39.5,227.5,38.5,246.5,42.5,238.5,46.0,...,69.0,384.5,78.0,372.5,69.0,379.5,66.0,373.5,76.0,1
1,237.5,36.5,232.5,31.5,239.5,34.5,236.5,28.5,227.5,32.0,...,62.0,375.5,77.0,376.5,69.0,375.5,75.0,373.5,73.0,1
2,239.5,39.5,238.5,39.5,246.5,24.5,245.5,34.5,236.5,33.0,...,75.0,366.5,67.0,383.5,72.0,366.5,77.0,372.5,76.0,1
3,238.5,33.5,237.5,30.5,240.5,41.5,232.5,40.5,222.5,43.0,...,74.0,381.5,78.0,373.5,60.0,366.5,61.0,369.5,73.0,1
4,228.5,41.5,235.5,26.5,239.5,38.5,242.5,39.5,223.5,43.0,...,77.0,367.5,66.0,382.5,63.0,369.5,60.0,376.5,78.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
700,253.0,270.0,260.0,273.0,243.0,286.0,255.0,278.0,250.0,289.0,...,73.0,346.0,66.0,344.0,71.0,332.0,67.0,341.0,56.0,10
701,246.0,270.0,243.0,274.0,257.0,284.0,247.0,289.0,252.0,289.0,...,73.0,340.0,63.0,330.0,70.0,328.0,69.0,337.0,73.0,10
702,242.0,283.0,243.0,282.0,254.0,289.0,249.0,287.0,255.0,277.0,...,56.0,342.0,62.0,331.0,69.0,342.0,66.0,339.0,65.0,10
703,248.0,285.0,256.0,280.0,246.0,278.0,261.0,275.0,242.0,284.0,...,65.0,331.0,67.0,338.0,60.0,344.0,67.0,335.0,68.0,10
704,260.0,275.0,242.0,281.0,252.0,282.0,259.0,284.0,257.0,281.0,...,58.0,343.0,74.0,344.0,70.0,346.0,62.0,334.0,74.0,10

In [13]:
X_test_fin = test_df.drop(['label'], axis=1).values
y_test_fin = test_df['label'].values
y_test_fin.shape

(705,)

In [14]:
# Avant encoder y_test_fin
np.unique(y_test_fin)

array([ 1,  6, 10], dtype=int64)

In [15]:
new_scaler = StandardScaler()

In [16]:
X_test_fin = new_scaler.fit_transform(X_test_fin)
y_test_fin = encoder.transform(y_test_fin)
y_test_fin

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 6, 6, 6, 6, 6, 6,
       6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
       6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
       6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
       6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
       6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
       6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
       6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
       6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
       6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
       6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
       6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
       6], dtype=int64)

In [17]:
# Apres encoder y_test_fin
output_y_test_fin = np.unique(y_test_fin)
output_y_test_fin

array([0, 3, 6], dtype=int64)

In [18]:
# Step 4: Evaluate the model
score = model.evaluate(X_test_fin, y_test_fin)
score

23/23 [==============================] - 0s 2ms/step - loss: 5.9263 - accuracy: 0.1901
Loss:  5.926254749298096
Accuracy:  0.19007092714309692

[5.926254749298096, 0.19007092714309692]

In [19]:
# model.save_model('saved_models/NeuralNetworkModel_balle.h5')

In [ ]:
# Step 5: Predict
y_pred = model.predict(X_test_fin)
y_pred, y_test_fin

In [ ]:
# Confusion matrix
confusion_matrix(y_test_fin, y_pred)

In [ ]:
print(classification_report(y_test_fin, y_pred))